@tailwind base;
@tailwind components;
@tailwind utilities;

.transform-fade-down-enter-active,
.transform-fade-down-leave-active {
  @apply transition-all translate-y-0 duration-300;
}
.transform-fade-down-enter, .transform-fade-down-leave-to /* .fade-leave-active below version 2.1.8 */ {
  @apply opacity-0 transform -translate-y-2;
}

.paragraph {
  @apply text-gray-700 tracking-wide leading-relaxed;
}

.navbar-button {
  @apply text-center text-white bg-transparent border-2 border-yellow-700  hover:bg-yellow-700 px-3 py-2 rounded-sm text-sm font-medium transition-all;
}

.navbar-button.alt {
  @apply text-gray-600 hover:text-white;
}

.navbar-item {
  @apply text-center border-b-2 border-b-transparent text-gray-600 lg:hover:border-b-gray-300 block px-3 py-2 rounded-sm uppercase text-sm;
}

.navbar-item.alt {
  @apply text-gray-600 hover:text-white;
}

.navbar-item.selected {
  @apply lg:border-blue;
}

.btn {
  @apply transition inline-flex justify-center py-3 md:px-4 border font-medium rounded-sm focus:outline-none  text-white text-base border-transparent shadow-lg;
}

.btn.blue {
  @apply focus:ring-blue bg-blue hover:bg-blue-800 hover:shadow-lg;
}

.btn.gray {
  @apply bg-gray-900 hover:bg-gray-800  hover:shadow-lg;
}

.btn.black {
  background-color: black;
  @apply hover:bg-gray-900 hover:shadow-lg;
}

.section-paragraph {
  @apply text-base mb-4 leading-7 text-gray-600;
}

.section-paragraph.white {
  @apply text-white !important;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-select:focus {
  outline: none !important;
}
